.cabinet {
	// wrapper for cabinet modules
	&-wrap {
		display: flex; padding: 0 16px;
		@include respond-to(lg) {
			flex-wrap: wrap; padding: 0 15px;
		}
		@include respond-to(sm) {
			padding: 0;
		}
	}

	// navigation
	&-nav {
		padding-top: 47px; width: 207px; padding-right: 30px; flex-shrink: 0;
		@include respond-to(lg) {
			width: 100%; padding-right: 0; padding-top: 11px; margin-bottom: 30px;
		}
		@include respond-to(sm) {
			padding: 10px 15px 0;
		}
		@include respond-to(539px) {
			padding: 0;
		}
		& > ul {
			@include respond-to(lg) {
				display: flex; justify-content: flex-start;
			}
			@include respond-to(xs) {
				flex-wrap: wrap;
			}
			& > li {
				margin-bottom: 45px; position: relative;
				@include respond-to(lg) {
					margin-bottom: 0; margin-right: 49px;
				}
				@include respond-to(639px) {
					margin-right: 30px;
				}
				@include respond-to(539px) {
					margin-right: 15px;
				}
				@include respond-to(xs) {
					margin-right: 0; width: 100%;
				}
				&:last-child {
					margin-bottom: 0; margin-right: 0;
				}
				&.sett {
					display: none;
					@include respond-to(1099px) {
						display: block;
					}
				}
				&.active {
					position: relative;
					&:before {
						content: '';
						display: block; width: 10px; height: 10px; position: absolute; left: -16px; top: 45%; transform: translateY(-50%);
						background: #000000; border-radius: 50%;
						@include respond-to(lg) {
							content: none;
						}
					}
					a {
						color: #000000; font-family: $ms-900;
						pointer-events: none;
					}
				}
				&.write {
					display: none;
					@include respond-to(md) {
						display: inline-block;
					}
					a {
						&:after {
							content: none;
						}
					}
					.active {
						color: #000000; font-family: $ms-900;
						i {
							color: #000000;
						}
					}
				}
				& > a {
					color: #005bff; font-size: 18px; font-family: $ms-900; text-transform: uppercase; letter-spacing: 1.7px;
					display: inline-block; position: relative;
					@include respond-to(md) {
						font-size: 22px; font-family: $ms-700; letter-spacing: 0.6px;
					}
					@include respond-to(639px) {
						font-size: 20px;
					}
					@include respond-to(539px) {
						font-size: 18px;
					}
					&:after {
						content: '';
						display: block; width: 0%; height: 2px; position: absolute; left: 50%; bottom: -2px; transform: translateX(-50%);
						background: #005bff;
						transition: 0.3s ease-out;
					}
					&:hover {
						&:after {
							width: 100%;
						}
					}
					span {
						color: inherit; font-size: inherit; font-family: inherit;
						display: none;
						@include respond-to(xs) {
							display: inline-block;
						}
					}
					i {
						color: inherit; font-size: 30px;
						@include respond-to(539px) {
							font-size: 24px;
						}
						@include respond-to(xs) {
							display: none;
						}
					}

					&.sort {
						@include respond-to(539px) {
							transform: scale(0.9); position: relative; top: -3px;
						}
						i {
							@include respond-to(xs) {
								display: inline-block;
							}
						}
						&:after {
							content: none;
						}
					}
				}
				div.sort-popup {
					padding: 16px 30px 20px 0; display: none; position: absolute; right: 2px; bottom: -14px; transform: translateY(100%); z-index: 10;
					background: #ffffff; box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.1);
					@include respond-to(539px) {
						padding: 15px 15px; width: auto; height: auto;
					}
					@include respond-to(xs) {
						right: auto; left: 0;
					}
					&.active {
						display: block;
					}
					ul {
						li {
							padding-left: 45px; padding-top: 0; margin-bottom: 19px;
							@include respond-to(539px) {
								padding-right: 15px; padding-left: 30px;
							}
							&:last-child {
								margin-bottom: 0;
							}
							&.active {
								a {
									pointer-events: none;
									i {
										opacity: 1;
									}
								}
							}
							a {
								color: #000000; font-size: 22px; font-family: $ms-500;
								left: 0; position: relative;
								@include respond-to(539px) {
									font-size: 18px;
								}
								i {
									opacity: 0; position: absolute; left: -28px; top: 50%; transform : translateY(-50%);
									@include respond-to(539px) {
										left: -23px; top: 48%;
									}
								}
							}
						}
					}
					a.redact {
						color: #0947b4; font-size: 22px; font-family: $ms-500;
						left: 0; position: relative; margin-top: 30px; margin-left: 45px; display: inline-block;
						@include respond-to(539px) {
							font-size: 18px;
							margin-left: 30px;
						}
						i {
							opacity: 0; position: absolute; left: -28px; top: 50%; transform : translateY(-50%);
							@include respond-to(539px) {
								left: -23px; top: 48%;
							}
						}
					}
				}
			}
		}
		form.question {
			text-align: right;
			display: none; padding-top: 43px; margin: 0 -8px;
			@media (min-width: 992px) {
				display: none !important;
			}
			@include respond-to(xs) {
				padding-top: 30px;
			}
			textarea {
				font-size: 32px; font-family: $ms-500; text-align: left; letter-spacing: 0.4px; line-height: 40px;
				width: 100%; padding: 0 8px; height: 42px; margin-bottom: 22px;
				border: none; border-bottom: solid 2px #cccccc;
				@include respond-to(xs) {
					font-size: 20px; line-height: 26px;
					height: 32px; padding-bottom: 4px; margin-bottom: 10px;
				}
				&::-webkit-input-placeholder {color: #cccccc;}
				&::-moz-placeholder {color: #cccccc;}
				&:-moz-placeholder {color: #cccccc;}
				&:-ms-input-placeholder {color: #cccccc;}
			}
			button {
				color: #005cff; font-size: 20px; font-family: $ms-700; text-transform: uppercase; letter-spacing: 1px;
				padding: 0; margin-right: 8px;
				background: transparent; border: none;
				@include respond-to(xs) {
					font-size: 16px; letter-spacing: 0.6px;
				}
			}
		}
	}

	// profile
	&-profile {
		width: 800px;
		@include respond-to(md) {
			width: 100%;
		}
		@include respond-to(sm) {
			width: auto; margin: 0 -15px;
		}
		@include respond-to(539px) {
			margin: 0;
		}
		.profile {
			&-info {
				padding: 36px 41px 39px 58px;
				background: #f5f5f5;
				@include respond-to(lg) {
					padding: 36px 30px 39px; position: relative;
				}
				@include respond-to(sm) {
					padding: 32px 30px 39px;
					background: transparent;
				}
				@include respond-to(539px) {
					padding: 32px 0 39px;
				}
				.main-info {
					@include respond-to(sm) {
						position: relative; padding-left: 90px; margin-bottom: 67px;
					}
					@include respond-to(639px) {
						padding-top: 60px; padding-left: 0;
					}
					a.ava-upload {
						display: none; width: 60px; height: 60px; position: absolute; left: 4px; top: -15px;
						background: #e5e5e5; border-radius: 50%;
						overflow: hidden;
						@include respond-to(sm) {
							display: block;
						}
						i {
							color: $text-link; font-size: 32px;
							position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
						}
					}
				}
				.social-integrate {
					@include respond-to(sm) {
						margin: 0 -30px; padding: 32px 30px 30px;
						background: #f5f5f5;
					}
					@include respond-to(539px) {
						padding: 32px 15px 30px; margin: 0 -15px;
					}
					& > a {
						color: #000000; font-size: 32px; font-family: $ms-500;
						display: none; position: relative;
						@include respond-to(sm) {
							display: block;
						}
						@include respond-to(539px) {
							font-size: 24px;
						}
						@include respond-to(xs) {
							font-size: 20px;
						}
						&:after {
							content: '';
							display: block; width: 18px; height: 18px; position: absolute; right: 4px; top: 50%; transform: translateY(-75%) rotate(225deg);
							border-left: solid 2px #0947b4; border-top: solid 2px #0947b4;
						}
						&.active {
							&:after {
								transform: translateY(-25%) rotate(45deg);
							}
						}
					}
					.input-module {
						@include respond-to(sm) {
							width: 100%;
						}
						input {
							@include respond-to(sm) {
								font-size: 32px; line-height: 36px; letter-spacing: 0.1px;
								padding-bottom: 8px;
							}
							@include respond-to(539px) {
								font-size: 26px; line-height: 34px;
							}
						}
					}
				}
				.input-module {
					display: flex; align-items: center; margin-bottom: 15px;
					@include respond-to(sm) {
						flex-wrap: wrap; margin-bottom: 29px;
					}
					& > p {
						font-size: 14px; font-family: $os-reg; text-transform: uppercase; letter-spacing: 0.3px;
						width: 84px;
						@include respond-to(sm) {
							font-size: 18px; font-family: $ms-500; letter-spacing: 1.1px;
							width: 100%; padding: 0 12px; margin-bottom: 10px;
						}
						@include respond-to(539px) {
							font-size: 16px;
						}
					}
					& > input {
						font-size: 20px; font-family: $ms-500; letter-spacing: 0.48px;
						width: 267px; height: 45px; padding: 0 8px;
						border: solid 1px #b9bdc7; border-radius: 4px;
						transition: 0.3s ease-out;
						@include respond-to(sm) {
							font-size: 44px; line-height: 52px; letter-spacing: -0.2px;
							width: 100%; height: auto; padding: 0 8px 2px;
							background: transparent; border: none; border-bottom: solid 2px #cccccc; border-radius: 0;
						}
						@include respond-to(539px) {
							font-size: 34px; line-height: 42px;
						}
						&:focus {
							border-color: #080808; box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
							@include respond-to(sm) {
								box-shadow: none;
							}
						}
						&.name {
							width: calc(100% - 84px);
							@include respond-to(sm) {
								width: 100%;
							}
						}
					}
					ul.pass-actions {
						display: flex; margin-left: 27px; padding-top: 4px;
						@include respond-to(sm) {
							display: none;
						}
						li {
							margin-right: 25px;
							&:last-child {
								margin-right: 0;
							}
							a {
								color: #005cff; font-size: 18px; font-family: $ms-700;
								position: relative;
								&:after {
									content: '';
									display: block; width: 0%; height: 1px; position: absolute; left: 50%; bottom: 0px; transform: translateX(-50%);
									background: #005cff;
									transition: 0.3s ease-out;
								}
								&:hover {
									&:after {
										width: 100%;
									}
								}
							}
						}
					}
				}
				ul.actions {
					display: flex; align-items: center; padding-top: 8px;
					@include respond-to(sm) {
						padding-left: 90px; display: none; padding-top: 10px;
					}
					@include respond-to(639px) {
						padding-left: 0;
					}
					& > li {
						display: flex; align-items: center; margin-right: 63px;
						@include respond-to(sm) {
							flex-wrap: wrap;
						}
						&:last-child {
							margin-right: 0;
						}
						&.ava-upload {
							@include respond-to(sm) {
								display: none;
							}
						}
						& > p, & > a {
							color: #005cff; font-size: 18px; font-family: $ms-700; letter-spacing: 0.15px;
							position: relative;
						}
						& > a {
							line-height: 22px;
							&:after {
								content: '';
								display: block; width: 0%; height: 1px; position: absolute; left: 50%; bottom: 0px; transform: translateX(-50%);
								background: #005cff;
								transition: 0.3s ease-out;
							}
							&:hover {
								&:after {
									width: 100%;
								}
							}
						}
						& > p {
							margin-right: 24px;
							@include respond-to(sm) {
								display: none;
							}
						}
						ul {
							display: flex;
							@include respond-to(sm) {
								width: 100%; padding-left: 12px; margin-bottom: 30px;
							}
							@include respond-to(639px) {
								padding-left: 8px;
							}
							li {
								margin-right: 21px;
								@include respond-to(sm) {
									margin-right: 40px;
								}
								@include respond-to(xs) {
									margin-right: 20px;
								}
								&:last-child {
									margin-right: 0;
								}
								&.integr {
									a {
										i {
											color: #24b324;
											@include respond-to(sm) {
												color: $text-link;
											}
										}
									}
								}
								a {
									font-size: 24px;
									@include respond-to(sm) {
										font-size: 52px;
									}
									@include respond-to(539px) {
										font-size: 36px;
									}
									@include respond-to(xs) {
										font-size: 30px;
									}
									i {
										color: $text-link; 
										@include respond-to(sm) {
											color: #cccccc;
										}
									}
								}
							}
						}
						.input-module {
							display: none;
							@include respond-to(sm) {
								display: block;
							}
						}
					}
				}
				button {
					margin-top: 24px;
					@include respond-to(sm) {
						display: none;
					}
				}
			}

			&-add {
				padding: 18px 0 0 58px;
				@include respond-to(sm) {
					padding: 18px 30px 0;
				}
				@include respond-to(539px) {
					padding: 18px 0 0;
				}

				.add-info {
					@include respond-to(sm) {
						padding-left: 90px; padding-bottom: 44px; display: none;
					}
					@include respond-to(639px) {
						padding-left: 0;
					}
				}

				.agree-info {
					@include respond-to(sm) {
						padding: 62px 30px 100px 131px; margin: 0 -30px;
						background: #f5f5f5;
					}
					@include respond-to(639px) {
						padding: 62px 30px 100px 112px;
					}
					@include respond-to(539px) {
						padding: 35px 15px 80px 15px; margin: 0 -15px;
					}
					& > input[type=checkbox] {
						display: none;
					}
					& > label {
						color: #808080; font-size: 16px; font-family: $os-reg; font-weight: 400;
						position: relative; margin-top: 25px; margin-left: 42px;
						cursor: pointer;
						@include respond-to(sm) {
							color: #000000; font-size: 22px; line-height: 28px;
							margin-left: 0; margin-top: 0;
						}
						@include respond-to(539px) {
							font-size: 18px; line-height: 25px;
							padding-left: 68px;
						}
						@include respond-to(xs) {
							font-size: 16px; line-height: 22px;
						}
						&:hover {
							color: #000000;
						}
						&:before {
							content: '';
							display: block; width: 18px; height: 18px; position: absolute; left: -30px; top: 2px;
							border: solid 1px #b9bdc7; border-radius: 2px;
							@include respond-to(sm) {
								content: none;
							}
						}
						span {
							display: none; width: 52px; height: 18px; position: absolute; left: -83px; top: 10px;
							background: #d9d9d9; border-radius: 7px;
							transition: .3s ease-out;
							@include respond-to(sm) {
								display: block; left: -68px;
							}
							@include respond-to(539px) {
								left: 0;
							}
							&:after {
								content: '';
								display: block; width: 32px; height: 32px; position: absolute; left: -1px; top: 50%; transform: translateY(-50%);
								background: #ffffff; border: solid 1px #cdcdcd; border-radius: 50%;
								transition: .3s ease-out;
							}
						}
						br {
							@include respond-to(sm) {
								display: none;
							}
						}
					}
					& > input[type=checkbox]:checked + label {
						color: #000000;
						&:before {
							background: url('../img/check.png') center center no-repeat;
						}
						span {
							background: #b5c7e8;
							&:after {
								left: 21px;
								background: #0947b4; border-color: #0947b4;
							}
						}
					}
					& > input[type=checkbox]:checked ~ button {
						background: #005cff; border-color: #005cff;
						pointer-events: all;
						&:hover {
							background: #ffffff;
						}
					}
					button {
						margin-top: 40px;
						background: #e6e6e6; border-color: #e6e6e6;
						pointer-events: none;
						@include respond-to(sm) {
							font-size: 26px; line-height: 32px; font-family: $ms-700;
							margin-top: 61px; width: auto; padding: 10px 18px 11px 18px;
						}
						@include respond-to(539px) {
							font-size: 20px; line-height: 26px;
							padding: 10px 15px; width: 100%;
						}
						span {
							color: inherit; font-size: inherit; font-family: inherit; line-height: inherit; font-weight: inherit;
							@include respond-to(sm) {
								display: none;
							}
							&.mob {
								display: none;
								@include respond-to(sm) {
									display: block;
								}
							}
						}
					}
				}

				& > h2 {
					font-size: 42px; font-family: $ms-500;
					margin-bottom: 15px;
					@include respond-to(sm) {
						display: none;
					}
				}
				& > a {
					color: #000000; font-size: 32px; font-family: $ms-500;
					position: relative; display: none; margin-bottom: 9px;
					@include respond-to(sm) {
						display: block;
					}
					@include respond-to(539px) {
						font-size: 24px;
					}
					@include respond-to(xs) {
						font-size: 20px;
					}
					&:after {
						content: '';
						display: block; width: 18px; height: 18px; position: absolute; right: 4px; top: 50%; transform: translateY(-75%) rotate(225deg);
						border-left: solid 2px #0947b4; border-top: solid 2px #0947b4;
					}
					&.active {
						&:after {
							transform: translateY(-25%) rotate(45deg);
						}
					}
				}
				& > p {
					font-size: 18px; font-family: $os-reg; line-height: 25px; letter-spacing: -0.1px;
					margin-bottom: 32px;
					@include respond-to(sm) {
						color: #4c4c4c; font-size: 22px; line-height: 34px; letter-spacing: 0.1px;
						margin-bottom: 24px;
					}
					@include respond-to(539px) {
						font-size: 18px; line-height: 25px;
					}
					@include respond-to(xs) {
						font-size: 16px; line-height: 22px;
					}
				}
				.input-module {
					display: flex; align-items: center; margin-bottom: 15px;
					@include respond-to(sm) {
						flex-wrap: wrap; margin-bottom: 30px;
					}
					&.check {
						padding-top: 13px;
						@include respond-to(sm) {
							padding-top: 0;
						}
						p {
							align-self: flex-start;
							@include respond-to(sm) {
								margin-bottom: 23px;
							}
						}
					}
					& > p {
						font-size: 14px; font-family: $os-reg; text-transform: uppercase;
						width: 124px;
						@include respond-to(sm) {
							font-size: 18px; font-family: $ms-500; letter-spacing: 1.1px;
							width: 100%; padding: 0 12px; margin-bottom: 10px;
						}
						@include respond-to(539px) {
							font-size: 16px;
						}
					}
					& > input, & > select {
						font-size: 20px; font-family: $ms-500; letter-spacing: 0.48px;
						width: 297px; height: 45px; position: relative; padding: 0 8px;
						border: solid 1px #b9bdc7; border-radius: 4px;
						transition: 0.3s ease-out;
						@include respond-to(sm) {
							font-size: 32px; line-height: 36px; letter-spacing: 0.1px;
							width: 100%; height: auto; padding: 0 8px 8px;
							background: transparent; border: none; border-bottom: solid 2px #cccccc; border-radius: 0;
						}
						@include respond-to(539px) {
							font-size: 26px; line-height: 34px;
						}
						&:focus {
							border-color: #080808; box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
							@include respond-to(sm) {
								box-shadow: none;
							}
						}
					}
					input {
						&.mob {
							display: none;
							@include respond-to(sm) {
								display: block;
							}
						}
					}
					select {
						background: url('../img/select-arr.png') right 9px center no-repeat;
						-moz-appearance: none;
						@include respond-to(sm) {
							display: none;
						}
					}
					& > ul {
						display: flex; flex-wrap: wrap; width: 406px; padding-left: 26px;
						@include respond-to(sm) {
							width: 400px; padding: 0;
						}
						@include respond-to(539px) {
							width: 100%;
						}
						& > li {
							width: 50%; padding-left: 32px; margin-bottom: 13px;
							@include respond-to(sm) {
								width: 100%; padding-left: 0; margin-bottom: 18px;
							}
							&:last-child {
								margin-bottom: 0;
							}
							&.another {
								width: 100%; margin-top: -5px;
								label {
									span {
										display: none;
									}
									em {
										color: #0947b4; font-size: 26px; font-family: $ms-700;
										display: none;
										@include respond-to(sm) {
											display: inline-block;
										}
										@include respond-to(539px) {
											font-size: 18px;
										}
									}
								}
							}
							input[type=checkbox] {
								display: none;
							}
							input[type=text] {
								font-size: 16px; font-family: $os-reg;
								width: 262px; height: 38px; position: relative; margin-left: -7px; padding: 0 8px 3px;
								border: solid 1px #b9bdc7; border-radius: 4px;
								pointer-events: none;
								&::-webkit-input-placeholder {color: #cccccc;}
								&::-moz-placeholder {color: #cccccc;}
								&:-moz-placeholder {color: #cccccc;}
								&:-ms-input-placeholder {color: #cccccc;}
								@include respond-to(sm) {
									font-size: 26px; line-height: 34px; letter-spacing: 0.1px;
									width: 100%; height: 0; padding: 0 12px 0px; margin-left: 0;
									background: transparent; border: none; border-bottom: solid 0px #cccccc; border-radius: 0;
									transition: 0.4s ease-out;
								}
								@include respond-to(539px) {
									font-size: 18px; line-height: 25px;
								}
							}
							label {
								color: #808080; font-size: 16px; font-family: $os-reg; font-weight: 400; text-transform: lowercase;
								position: relative; display: inline-block;
								cursor: pointer;
								@include respond-to(sm) {
									font-size: 26px; font-family: $ms-500; text-transform: initial;
									display: flex; align-items: center; justify-content: space-between; padding: 0 12px;
								}
								@include respond-to(539px) {
									font-size: 18px;
								}
								&:hover {
									color: #000000;
								}
								&:before {
									content: '';
									display: block; width: 18px; height: 18px; position: absolute; left: -32px; top: 50%; transform: translateY(-50%);
									border: solid 1px #b9bdc7; border-radius: 2px;
									@include respond-to(sm) {
										content: none;
									}
								}
								span {
									display: none; width: 52px; height: 18px; position: relative;
									background: #d9d9d9; border-radius: 7px;
									transition: .3s ease-out;
									@include respond-to(sm) {
										display: block;
									}
									&:after {
										content: '';
										display: block; width: 32px; height: 32px; position: absolute; left: -1px; top: 50%; transform: translateY(-50%);
										background: #ffffff; border: solid 1px #cdcdcd; border-radius: 50%;
										transition: .3s ease-out;
									}
								}
							}
							input:checked + label {
								color: #000000;
								&:before {
									background: url('../img/check.png') center center no-repeat;
								}
								span {
									background: #b5c7e8;
									&:after {
										left: 21px;
										background: #0947b4; border-color: #0947b4;
									}
								}
							}
							input[type=checkbox]:checked + label + input[type=text] {
								pointer-events: all;
								&::-webkit-input-placeholder {color: #808080;}
								&::-moz-placeholder {color: #808080;}
								&:-moz-placeholder {color: #808080;}
								&:-ms-input-placeholder {color: #808080;}
								@include respond-to(sm) {
									height: 44px; padding-bottom: 8px;
									border-width: 2px;
								}
								@include respond-to(539px) {
									height: 35px;
								}
							}
						}
					}
				}
			}
		}

		button {
			@extend .btn-2;
			display: block; width: 185px;
			&.disable {
				background: #e6e6e6; border-color: #e6e6e6;
				pointer-events: none;
			}
		}
	}

	// favourite
	&-favourite {
		padding: 44px 0 0 58px;
		@include respond-to(1399px) {
			width: 100%;
		}
		@include respond-to(lg) {
			padding: 20px 0px 0;
		}
		@include respond-to(sm) {
			padding: 22px 15px 130px;
		}
		@include respond-to(539px) {
			padding: 10px 0 130px;
		}
		.favourite {
			&-nav {
				display: flex; align-items: center; margin-bottom: 61px; width: 1075px; justify-content: space-between;
				@include respond-to(1399px) {
					width: 100%;
				}
				@include respond-to(1099px) {
					display: none;
				}
				ul {
					display: flex;
					li {
						margin-right: 25px;
						&:last-child {
							margin-right: 0;
						}
						&.active {
							a {
								color: #000000;
								pointer-events: none;
							}
						}
						&.disable {
							a {
								color: #b2b2b2; font-family: $ms-500;
								pointer-events: none;
							}
						}
						a {
							color: #005bff; font-size: 18px; font-family: $ms-900; text-transform: uppercase; letter-spacing: 1.7px;
							position: relative; display: inline-block;
							&:hover {
								em {
									text-decoration: underline;
								}
							}
							em {
								color: inherit; font-family: inherit;
								position: relative; display: inline-block;
							}
							span {
								color: inherit; font-size: 14px; font-family: inherit;
								position: relative; right: -2px; top: -11px;
							}
						}
					}
				}
				& > a.print {
					color: #005bff; font-size: 22px; font-family: $ms-500;
					position: relative; display: inline-block;
					&:hover {
						text-decoration: underline;
					}
					span {
						color: inherit; font-family: inherit;
					}
					i {
						position: absolute; left: -47px; top: 50%; transform: translateY(-50%);
					}
				}
			}
			&-list {
				width: 620px;
				@include respond-to(1099px) {
					width: 100%;
				}
				&.active {
					@include respond-to(1099px) {
						text-align: right;
					}
					& > * {
						@include respond-to(1099px) {
							text-align: left;
						}
					}
					& > ul {
						& > li {
							@include respond-to(1099px) {
								padding-left: 0; padding-right: 102px;
							}
							@include respond-to(539px) {
								padding-right: 90px;
							}
							figure {
								@include respond-to(1099px) {
									display: none;
								}
							}
							ul.controls {
								&.mob {
									@include respond-to(1099px) {
										display: flex;
									}
								}
							}
						}
					}
					a.closeRed {
						@include respond-to(1099px) {
							display: inline-block;
						}
					}
				}
				a.closeRed {
					display: none; margin-top: 38px; padding: 9px 56px 10px;
				}
				& > ul {
					margin-bottom: 52px;
					@include respond-to(1099px) {
						margin-bottom: 59px;
					}
					@include respond-to(539px) {
						margin-bottom: 25px;
					}
					&:last-child {
						margin-bottom: 0;
					}
					& > li {
						padding-left: 75px; position: relative; margin-bottom: 12px; padding-right: 260px;
						@include respond-to(1099px) {
							padding-left: 101px; margin-bottom: 59px;
						}
						@include respond-to(539px) {
							padding-left: 60px; margin-bottom: 25px;
						}
						&:last-child {
							margin-bottom: 0;
						}
						&:hover {
							ul.controls {
								opacity: 1; pointer-events: all;
							}
							span {
								opacity: 1; pointer-events: all;
							}
						}
						figure {
							width: 53px; height: 53px; position: absolute; left: -2px; top: -6px;
							border-radius: 50%;
							overflow: hidden;
							@include respond-to(1099px) {
								width: 60px; height: 60px; top: 0; left: -1px;
								border-radius: 0;
								overflow: visible;
							}
							a {
								display: block;
								img {
									@include respond-to(1099px) {
										display: none;
									}
									&.mob {
										display: none;
										@include respond-to(1099px) {
											display: block;
										}
										@include respond-to(539px) {
											width: 40px;
										}
									}
								}
							}
						}
						ul {
							display: flex; flex-wrap: wrap;
							&.breadcrumbs {
								li {
									white-space: nowrap;
									&:last-child {
										&:after {
											content: none;
										}
									}
									&:after {
										content: ' /';
										color: #0046bb; font-size: 11px; font-family: $ms-500; text-transform: uppercase;
										display: inline-block; margin-right: 5px;
										@include respond-to(1099px) {
											color: #808080; font-size: 18px;
										}
										@include respond-to(539px) {
											font-size: 14px; line-height: 18px;
										}
									}
									a {
										color: #0046bb; font-size: 11px; font-family: $ms-500; text-transform: uppercase; letter-spacing: 0.2px;
										@include respond-to(1099px) {
											color: #808080; font-size: 18px; letter-spacing: -0.2px;
										}
										@include respond-to(539px) {
											font-size: 14px; line-height: 18px;
										}
										&:hover {
											text-decoration: underline;
										}
									}
								}
							}
							&.controls {
								position: absolute; right: 0; top: 0; height: 100%; padding: 21px 0 0 25px;
								opacity: 0; pointer-events: none;
								@include respond-to(1099px) {
									display: none;
								}
								li {
									margin-right: 23px;
									&:last-child {
										margin-right: 0;
									}
									a {
										color: #0049ff; font-size: 12px; font-family: $os-sb; text-transform: uppercase; letter-spacing: 0.4px;
										position: relative; display: inline-block; padding-left: 16px;
										&:hover {
											text-decoration: underline;
										}
										&.delete {
											color: #ff0000;
										}
										i {
											position: absolute; left: 0; top: 50%; transform: translateY(-50%);
										}
									}
								}

								&.mob {
									display: none; padding: 0; top: 35px; right: -4px; height: auto;
									opacity: 1; pointer-events: all;
									@media (min-width: 1100px) {
										display: none !important;
									}
									@include respond-to(539px) {
										top: 22px;
									}
									li {
										margin-right: 32px;
										@include respond-to(539px) {
											margin-right: 15px;
										}
										&:last-child {
											margin-right: 0;
										}
										a {
											display: block; width: 28px; height: 28px; position: relative; padding: 0;
											&.replace {
												padding-top: 7px;
												span {
													display: block; height: 2px; margin-bottom: 4px; margin-top: 0;
													background: #808080;
													opacity: 1; pointer-events: all;
													&:last-child {
														margin-bottom: 0;
													}
												}
											}
											&.delete {
												&:before, &:after {
													content: '';
													display: block; width: 28px; height: 2px; position: absolute; left: 50%; top: 50%;
													background: #ff0000;
												}
												&:before {
													transform: translate(-50%,-50%) rotate(-45deg);
												}
												&:after {
													transform: translate(-50%,-50%) rotate(45deg);
												}
											}
										}
									}
								}
							}
						}

						& > p {
							margin-top: -3px;
							@include respond-to(1099px) {
								margin-top: 2px;
							}
							a {
								color: #005cff;  font-size: 20px; font-family: $ms-500; letter-spacing: -0.1px;
								@include respond-to(1099px) {
									font-size: 32px; line-height: 40px;
								}
								@include respond-to(639px) {
									font-size: 28px; line-height: 36px;
								}
								@include respond-to(539px) {
									font-size: 20px; line-height: 26px;
								}
								&:hover {
									text-decoration: underline;
								}
							}
						}
						span {
							color: #b2b2b2; font-size: 14px; font-family: $os-reg;
							display: block; margin-top: -3px;
							pointer-events: none; opacity: 0;
							@include respond-to(1099px) {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	// messages
	&-messages {
		display: flex; padding: 40px 0 0 58px;
		@include respond-to(lg) {
			padding-left: 0;
		}
		@include respond-to(md) {
			flex-wrap: wrap; padding: 3px 0 138px;
		}
		@include respond-to(539px) {
			padding: 0 0 138px;
		}
		.messages {
			&-nav {
				width: 230px; padding-right: 20px;
				@include respond-to(md) {
					width: 100%; padding-right: 0; position: relative;
					@include respond-to(md) {
						margin-bottom: 90px;
					}
					@include respond-to(539px) {
						margin-bottom: 60px;
					}
				}
				.mobile-article {
					position: relative;
					background: #ffffff;
					@include respond-to(md) {
						padding: 8px 30px 80px; margin: 0 -30px;
						transition: 0.5s ease-out;
					}
					@include respond-to(sm) {
						margin: 0 -15px;
					}
					@include respond-to(539px) {
						padding: 8px 15px 50px;
					}
					&.active {
						box-shadow: 0 10px 10px 2px rgba(0,0,0,0.5);
					}
					&:after {
						content: '';
						display: block; width: 100%; height: 0; position: absolute; left: 0; bottom: 0;
						background: #ffffff;
						@include respond-to(md) {
							height: 80px; z-index: 5;
						}
						@include respond-to(539px) {
							height: 50px;
						}
					}
					@include respond-to(md) {
						overflow-y: hidden;
					}
					& > a {
						&.write {
							color: #005bff; font-size: 22px; font-family: $ms-700;
							display: inline-block; position: relative;
							@include respond-to(md) {
								display: none;
							}
							&:hover {
								text-decoration: underline;
							}
							&.active {
								color: #b9bdc7;
								pointer-events: none;
								&:before {
									content: '';
									display: block; width: 10px; height: 10px; position: absolute; left: -20px; top: 11px;
									background: #000000; border-radius: 50%;
								}
							}
							strong {
								color: inherit; font-weight: 400; font-family: $ms-900; text-transform: uppercase; letter-spacing: 1.1px;
							}
						}
						&.article-slide {
							z-index: 10; display: none; width: 30px; height: 30px; position: absolute; left: 50%; bottom: 47px; transform: translateX(-50%);
							transition: bottom 0.5s ease-out;
							@include respond-to(539px) {
								bottom: 20px;
							}
							&.active {
								bottom: 30px;
								&:after {
									transform: translate(-50%,-25%) rotate(135deg);
								}
							}
							&:after {
								content: '';
								display: block; width: 18px; height: 18px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-75%) rotate(-45deg);
								border-left: solid 2px #005bff; border-bottom: solid 2px #005bff;
							}
							@include respond-to(md) {
								display: block;
							}
						}
					}
				}
				ul {
					padding-top: 4px; margin-bottom: 38px;
					@include respond-to(md) {
						margin-bottom: 0; padding-top: 0;
					}
					li {
						margin-bottom: 36px; position: relative;
						@include respond-to(md) {
							padding-right: 50px; margin-bottom: 28px;
						}
						@include respond-to(539px) {
							padding-right: 40px; margin-bottom: 20px;
						}
						&:last-child {
							margin-bottom: 0;
						}
						&.active {
							&:before {
								content: '';
								display: block; width: 10px; height: 10px; position: absolute; left: -20px; top: 2px;
								background: #000000; border-radius: 50%;
								@include respond-to(md) {
									content: none;
								}
							}
							a {
								pointer-events: none;
								span, p {
									color: #b9bdc7;
								}
								span {
									@include respond-to(md) {
										color: #000000;
									}
								}
								p {
									@include respond-to(md) {
										color: #005bff; font-family: $ms-500; letter-spacing: -0.1px;
									}
								}
							}
							i {
								display: none;
								@include respond-to(md) {
									display: inline-block;
								}
							}
						}
						a {
							display: inline-block;
							@include respond-to(md) {
								padding-left: 102px; min-height: 60px;
							}
							@include respond-to(539px) {
								padding-left: 80px;
							}
							@include respond-to(xs) {
								min-height: none; padding-left: 0;
							}
							&:hover {
								p {
									text-decoration: underline;
								}
							}
							figure {
								display: none; position: absolute; left: 0; top: 2px;
								@include respond-to(md) {
									display: block;
								}
								@include respond-to(xs) {
									display: none;
								}
							}
							span {
								color: #0046bb; font-size: 11px; font-family: $ms-500; text-transform: uppercase; letter-spacing: 0.4px;
								display: block;
								@include respond-to(md) {
									color: #000000; font-size: 22px; line-height: 32px;
									display: none;
								}
								@include respond-to(539px) {
									font-size: 16px; line-height: 20px;
								}
								&.mob {
									display: none;
									@include respond-to(md) {
										display: block;
									}
								}
							}
							p {
								color: #005bff;  font-size: 20px; font-family: $ms-500; line-height: 22px; letter-spacing: 0.1px;
								@include respond-to(md) {
									color: #000000; font-size: 26px; line-height: 34px; font-family: $ms-700; letter-spacing: 0px;
								}
								@include respond-to(539px) {
									font-size: 20px; line-height: 28px;
								}
							}
						}
						i {
							display: none; position: absolute; right: 0; top: 50%; transform: translateY(-50%);
						}
					}
				}
				
			}
		}
		.notification-item {
			@extend .search-result-item;
			max-width: 796px; padding-left: 61px; padding-right: 0;
			@include respond-to(md) {
				max-width: none; width: 100%; padding-left: 0;
			}
			figure {
				width: 100%; margin-bottom: 45px;
				@include respond-to(md) {
					margin: 0 -30px 43px; width: auto;
				}
				@include respond-to(539px) {
					margin: 0 -15px 30px;
				}
				img {
					max-width: 100%;
					@include respond-to(md) {
						max-width: none; width: 100%;
					}
				}
			}
			h1 {
				margin-bottom: 21px;
				@include respond-to(md) {
					margin-bottom: 23px;
				}
			}
			p {
				margin-bottom: 20px;
				@include respond-to(md) {
					margin-bottom: 26px;
				}
				@include respond-to(539px) {
					margin-bottom: 20px;
				}
				a {
					color: #0041b3; font-family: inherit; text-decoration: underline; white-space: nowrap; letter-spacing: 0.1px;
					&:hover {
						text-decoration: none;
					}
				}
			}
			ul.btns {
				margin-top: 36px; margin-left: -3px; padding-left: 0; margin-bottom: 0;
				@include respond-to(md) {
					margin-top: 28px; margin-left: 0; justify-content: flex-start; flex-direction: row;
				}
				li {
					a {
						color: #0041b3; font-size: 22px; font-family: $ms-500;
						display: block; position: relative; padding-left: 45px;
						@include respond-to(md) {
							font-size: 26px; font-family: $ms-700;
							padding-left: 53px; margin-left: 0;
						}
						@include respond-to(539px) {
							font-size: 16px;
							padding-left: 40px;
						}
						&:hover {
							span {
								text-decoration: underline;
							}
						}
						i {
							position: absolute; left: 0; top: 50%; transform: translateY(-50%);
							@include respond-to(md) {
								left: 3px;
							}
						}
						span {
							color: inherit; font-size: inherit; font-family: inherit; letter-spacing: 0.1px;
							position: relative; display: inline-block; transform: none; right: 0; top: 0;
						}
					}
				}
			}
		}
		.message {
			max-width: 768px; padding-left: 61px;
			@include respond-to(md) {
				display: none;
			}
			h1 {
				font-size: 42px; font-family: $ms-500; letter-spacing: -0.2px;
				margin-bottom: 29px; margin-top: -2px;
				strong {
					font-family: $ms-900; letter-spacing: 2.7px;
				}
			}
			form {
				textarea {
					font-size: 18px; font-family: $os-reg; line-height: 25px;
					width: 100%; height: 425px; padding: 20px 15px; margin-bottom: 22px;
					border: solid 1px #b9bdc7; border-radius: 4px;
					resize: none;
				}
				ul.btns {
					li {
						margin-right: 69px;
						a {
							color: #0066ff; font-size: 18px; font-family: $ms-500; white-space: nowrap; letter-spacing: 0.2px;
							&:hover {
								span {
									text-decoration: underline;
								}
							}
							&.btn-2 {
								color: #ffffff; font-size: 22px; font-family: $ms-700; text-align: center;
								width: 220px;
								&:hover {
									color: #005cff;
								}
								&.disable {
									background: #e6e6e6; border-color: #e6e6e6;
									pointer-events: none;
								}
							}
							i {
								position: absolute; left: -19px; top: 50%; transform: translateY(-50%);
							}
							span {
								color: inherit; font-size: inherit; font-family: inherit; 
								position: relative; display: inline-block; right: 0; top: 0; transform: none;
							}
						}
					}
				}
			}
		}
	}
}