.main {

	// intro
	&-intro {

		& > figure {
			text-align: center; width: 654px; margin-left: 50px;
			img {

			}
			figcaption {
				h1 {
					font-size: 54px; font-family: $ms-500; text-align: center;
					span {
						font-size: 28px;
						display: block;
					}
				}
			}
		}

		ul {
			display: flex; justify-content: space-between;
			li {
				a {
					display: inline-block;
					&:hover {
						figure {
							figcaption {
								color: #ffffff;
								background: #0041b3;
							}
						}
					}
					figure {
						text-align: center;
						img {

						}
						figcaption {
							color: $text-link; font-size: 20px; font-family: $ms-500;
							display: inline-block; position: relative; padding: 0 5px;
							background: linear-gradient(to right, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.5) 100%);
							span {

							}
						}
					}
				}
			}
		}
	}

	// offer 
	&-offer {
		position: relative; z-index: 4;
		background: url('../img/offer-bg.png') center center no-repeat;
		h2 {
			font-size: 25px; font-family: $ms-500; text-align: center;
			img {

			}
		}

		ul {
			display: flex;
			li {
				text-align: center;
				width: 33.33333%;
				a {
					text-align: center;
					display: inline-block; position: relative;
					&:hover {
						p {
							text-decoration: none;
						}
					}
					i {
						
					}

					p {
						color: $text-link;font-size: 24px; font-family: $ms-500; text-decoration: underline;
					}
				}
			}
		}

		& > p {
			font-size: 20px; font-family: $ms-500; text-align: center;
			a {
				color: #86b200;
				display: inline-block;
				&:hover {
					span {
						&:after {
							width: 100%;
						}
					}
				}
				span {
					color: inherit;
					position: relative;
					&:after {
						content: '';
						display: block; width: 0%; height: 1px; position: absolute; left: 50%; bottom: -2px; transform: translateX(-50%);
						background: #86b200;
						transition: 0.3s ease-out;
					}
				}
			}
		}
	}

	// news and contacts
	&-news-contacts {
		display: flex;
		& > div {
			width: 50%; 
			&:last-child {
				padding-left: 86px;
			}
		}
	}
	&-news {
		h2 {
			font-size: 32px; font-family: $ms-500;
		}

		& > ul {
			& > li {
				figure {

				}

				span.date {
					color: #999999; font-size: 15px; font-family: $ms-500;
				}

				div {
					p {
						font-size: 20px; font-family: $ms-500;
						a {
							color: $text-link;
						}
					}
				}

				ul {
					display: flex;
					li {
						padding: 0 8px 0 10px;
						border-right: solid 1px #d8d8d9;
						&:first-child {
							padding-left: 0;
						}
						&:last-child {
							padding-right: 0;
							border-right: 0;
						}
						a {
							color: $text-link; font-size: 16px; font-family: $ms-500; line-height: 16px;
							&:hover {
								color: #0062ff;
							}
						}
						span {
							color: #cccccc; font-size: 16px; font-family: $ms-500; line-height: 16px;
						}
					}
				}
			}
		}

		a.btn {

		}
	}
	&-contacts {
		figure {
			img {

			}
		}

		& > p {
			font-size: 24px; font-family: $ms-500;
			span {
				font-size: 30px;
				display: block;
			}

			b {
				font-family: $ms-900;
			}
		}

		form {
			background: #ffde5b;
			p {
				font-size: 16px; font-family: $ms-500;
			}

			input {
				color: #cccccc; font-size: 22px; font-family: $ms-500;
				border: solid 1px #b29b40; border-radius: 1px;
			}

			button {
				color: #ffffff; font-size: 16px; font-family: $ms-500; text-transform: uppercase;
				background: #d9bd4d; border-radius: 4px; border: none;
			}
		}

		ul {
			li {
				h3 {
					font-size: 28px; font-family: $ms-500;
				}

				p {
					font-size: 18px; font-family: $ms-500;
				}
			}
		}

		a.btn {

		}
	}

	// partners
	&-partners {
		position: relative; z-index: 4;
		h3 {
			font-size: 22px; font-family: $ms-500; text-align: center;
			img {

			}

			a.btn {
				
			}
		}

		p {
			font-size: 18px; font-family: $ms-500; text-align: center; text-transform: uppercase;
		}

		ul {
			display: flex; justify-content: space-around; flex-wrap: wrap;
			li {
				padding: 0 15px;
				a {
					display: inline-block;

					img {

					}
				}
			}
		}
	}
}