.app {
	min-width: 320px;
	overflow-x: hidden;
	background: #ffffff;
	// width: 1400px;
	@include respond-to(1099px) {
		padding-top: 62px;
	}
	@include respond-to(sm) {
		padding-top: 63px;
	}

	.wr {

		// Header
		&-header {
			padding: 17px 0 16px; position: relative; z-index: 100;
			background: rgba(255,255,255,0.7);
			@include respond-to(1099px) {
				position: fixed; top: 0; left: 0; width: 100%; height: 62px;
				background: #f5f5f5;
			}
			@include respond-to(sm) {
				padding: 21px 0 12px; height: 63px;
			}
			&:before {
				content: '';
				display: none; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 15;
				background: #f5f5f5;
				@include respond-to(1099px) {
					display: block;
				}
			}
		}

		// Main Page
		&-main {

			// Intro
			&-intro {
				padding: 89px 0 113px; position: relative; z-index: 2;
				background: url('../img/intro-bg.jpg') 50% top no-repeat; background-size: cover;
				@include respond-to(sm) {
					padding: 50px 0 65px;
					background-position: 57% top;
				}
			}

			// Offer 
			&-offer {
				position: relative; z-index: 3; padding: 39px 0 25px;
				background: #ffffff url('../img/offer-bg.png') center 56% no-repeat;
				@include respond-to(sm) {
					padding: 95px 0 18px;
				}
				&:before {
					content: '';
					display: block; width: 2808px; height: 70px; position: absolute; top: -60px; left: 50%; transform: translateX(-50%); z-index: 3;
					background: url('../img/offer-border-top.png') center center no-repeat;
					@include respond-to(sm) {
						width: 857px; height: 68px; top: -34px;
						background: url('../img/offer-border-top-mob.png') center center no-repeat;
					}
				}
				&:after {
					content: '';
					display: block; width: 2808px; height: 68px; position: absolute; bottom: -60px; left: 50%; transform: translateX(-50%); z-index: 3;
					background: url('../img/offer-border-bottom.png') center center no-repeat;
				}
			}

			// News and Contacts
			&-info {
				position: relative; z-index: 2; padding: 121px 0 139px;
				background: url('../img/info-bg.png') left top no-repeat; background-size: contain;
				@include respond-to(sm) {
					padding: 86px 0 74px;
				}
			}

			// Partners
			&-partners {
				position: relative; z-index: 3; padding: 45px 0 32px;
				background: #ffde5b;
				@include respond-to(sm) {
					padding: 76px 0 64px;
				}
				&:before {
					content: '';
					display: block; width: 2808px; height: 79px; position: absolute; top: -70px; left: 50%; transform: translateX(-50%); z-index: 3;
					background: url('../img/partner-border-top.png') center center no-repeat;
					@include respond-to(sm) {
						width: 1007px; height: 56px; top: -28px;
						background: url('../img/partner-border-top-mob.png') center center no-repeat;
					}
				}
				&:after {
					content: '';
					display: block; width: 2808px; height: 79px; position: absolute; bottom: -70px; left: 50%; transform: translateX(-50%); z-index: 3;
					background: url('../img/partner-border-bottom.png') center center no-repeat;
				}
			}
		}

		// Catalog Page
		&-catalog {
			padding: 66px 0 133px; min-height: calc(100vh - 133px);
			@include respond-to(md) {
				padding: 0 0 133px;
			}
		}

		// Knowledge Page
		&-knowledge {
			padding: 66px 0 133px; min-height: calc(100vh - 133px);
			@include respond-to(md) {
				padding: 38px 0 133px;
			}
		}

		// Events Page
		&-events {
			padding: 66px 0 133px; min-height: calc(100vh - 133px);
			@include respond-to(md) {
				padding: 30px 0 133px;
			}
		}

		// Company Page
		&-company {
			&-about {
				padding: 0 0 138px;
				@include respond-to(md) {
					padding-top: 60px;
				}
			}
			&-partners {
				@extend .wr-main-partners;
				padding: 26px 0 78px;
				&:after {
					content: none;
				}
			}
		}

		// Contacts Page
		&-contacts {
			&-info {
				padding: 110px 0 74px;
				@include respond-to(md) {
					padding-top: 80px;
				}
			}
			&-map {
				&.active {
					#map {
						pointer-events: all;
					}
				}
				#map {
					pointer-events: none;
				}
			}
		}

		&-cabinet {
			padding: 30px 0 68px; min-height: calc(100vh - 133px);
			@include respond-to(sm) {
				padding: 30px 0 0;
			}
		}

		&-search-mobile {
			padding: 10px 0 41px; display: none; position: fixed; top: 62px; left: 0; width: 100%; z-index: 100;
			background: #f5f5f5;
			@media (min-width: 1100px) {
				display: none !important;
			}
			@include respond-to(sm) {
				top: 63px;
			}
		}
		
		// Footer
		&-footer {
			position: relative; z-index: 2; padding: 146px 0 86px;
			background: #333333;
			@include respond-to(1499px) {
				padding: 156px 0 96px;
			}
			@include respond-to(md) {
				background: linear-gradient(to bottom, #0a0a0a 0%, #383838 100%)
			}
			@include respond-to(sm) {
				padding: 137px 0 43px;
			}
		}

		&-subfooter {
			padding: 33px 0 31px; position: relative; z-index: 4;
			background: #ffffff;
			@include respond-to(1499px) {
				padding: 38px 0 46px;
			}
			@include respond-to(md) {
				background: #ffde5b;
				&:before {
					content: '';
					display: block; width: 2806px; height: 26px; position: absolute; top: -25px; left: 50%; transform: translateX(-50%); z-index: 3;
					background: url('../img/footer-2-border-top.png') center center no-repeat;
				}
			}
			@include respond-to(sm) {
				padding: 27px 0 70px;
			}
			@include respond-to(539px) {
				padding: 27px 0 40px;
			}

			&-2 {
				padding: 22px 0 31px; position: relative; z-index: 3;
				background: #ffde5b;
				&:before {
					content: '';
					display: block; width: 2806px; height: 26px; position: absolute; top: -25px; left: 50%; transform: translateX(-50%); z-index: 3;
					background: url('../img/footer-2-border-top.png') center center no-repeat;
				}

				.subfooter {
					padding: 0 16px;
					ul {
						padding-top: 0;
					}
				}
			}
		}
	}
}