.app {
	min-width: 320px;
	overflow-x: hidden;
	background: #ffffff;

	.wr {

		// Header
		&-header {
			padding: 17px 0 16px;
			background: #ffffff;
		}

		// Main Page
		&-main {

			// Intro
			&-intro {
				padding: 89px 0 113px; position: relative; z-index: 2;
				background: url('../img/intro-bg.jpg') center top no-repeat;
			}

			// Offer 
			&-offer {
				position: relative; z-index: 3; padding: 39px 0 25px;
				background: #ffffff;
				&:before {
					content: '';
					display: block; width: 2808px; height: 70px; position: absolute; top: -60px; left: 50%; transform: translateX(-50%); z-index: 3;
					background: url('../img/offer-border-top.png') center center no-repeat;
				}
				&:after {
					content: '';
					display: block; width: 2808px; height: 68px; position: absolute; bottom: -60px; left: 50%; transform: translateX(-50%); z-index: 3;
					background: url('../img/offer-border-bottom.png') center center no-repeat;
				}
			}

			// News and Contacts
			&-info {
				position: relative; z-index: 2; padding: 121px 0 139px;
				background: url('../img/info-bg.png') left top no-repeat;
			}

			// Partners
			&-partners {
				position: relative; z-index: 3; padding: 45px 0 32px;
				background: #ffde5b;
				&:before {
					content: '';
					display: block; width: 2808px; height: 79px; position: absolute; top: -70px; left: 50%; transform: translateX(-50%); z-index: 3;
					background: url('../img/partner-border-top.png') center center no-repeat;
				}
				&:after {
					content: '';
					display: block; width: 2808px; height: 79px; position: absolute; bottom: -70px; left: 50%; transform: translateX(-50%); z-index: 3;
					background: url('../img/partner-border-bottom.png') center center no-repeat;
				}
			}
		}
		
		// Footer
		&-footer {
			position: relative; z-index: 2; padding: 146px 0 86px;
			background: #333333;
		}
		&-subfooter {
			padding: 33px 0 31px;
			background: #ffffff;
		}
	}
}