/***************************/
/********* Colors **********/
/***************************/
$text-1: #000000;
$text-link: #0046bb;

/***************************/
/********* Fonts ***********/
/***************************/
// Museo Sans Cyrl
$ms-500: "museosanscyrl-500", sans-serif;
$ms-700: "museosanscyrl-700", sans-serif;
$ms-900: "museosanscyrl-900", sans-serif;

// OpenSans
$os-reg: "opensans-regular", sans-serif;
$os-b: "opensans-bold", sans-serif;
$os-sb: "opensans-semibold", sans-serif;