/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bread {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 128px;
  height: 121px;
}
.icon-clip {
  background-image: url(../img/sprite.png);
  background-position: -237px -168px;
  width: 12px;
  height: 24px;
}
.icon-company-location-1 {
  background-image: url(../img/sprite.png);
  background-position: -252px -220px;
  width: 16px;
  height: 20px;
}
.icon-company-location-2 {
  background-image: url(../img/sprite.png);
  background-position: -224px -206px;
  width: 16px;
  height: 20px;
}
.icon-company-location-3 {
  background-image: url(../img/sprite.png);
  background-position: -252px -160px;
  width: 16px;
  height: 20px;
}
.icon-compose-active {
  background-image: url(../img/sprite.png);
  background-position: -136px -206px;
  width: 30px;
  height: 30px;
}
.icon-compose {
  background-image: url(../img/sprite.png);
  background-position: -166px -206px;
  width: 30px;
  height: 30px;
}
.icon-delete {
  background-image: url(../img/sprite.png);
  background-position: -274px -44px;
  width: 8px;
  height: 8px;
}
.icon-docx {
  background-image: url(../img/sprite.png);
  background-position: -205px -168px;
  width: 32px;
  height: 32px;
}
.icon-donuts {
  background-image: url(../img/sprite.png);
  background-position: -128px 0px;
  width: 124px;
  height: 121px;
}
.icon-down {
  background-image: url(../img/sprite.png);
  background-position: -272px -123px;
  width: 10px;
  height: 6px;
}
.icon-exit-black {
  background-image: url(../img/sprite.png);
  background-position: -252px -44px;
  width: 22px;
  height: 24px;
}
.icon-exit-blue {
  background-image: url(../img/sprite.png);
  background-position: -252px -92px;
  width: 22px;
  height: 24px;
}
.icon-exit-white {
  background-image: url(../img/sprite.png);
  background-position: -252px -68px;
  width: 22px;
  height: 24px;
}
.icon-eye {
  background-image: url(../img/sprite.png);
  background-position: -252px 0px;
  width: 30px;
  height: 20px;
}
.icon-header-search {
  background-image: url(../img/sprite.png);
  background-position: -252px -20px;
  width: 24px;
  height: 24px;
}
.icon-home {
  background-image: url(../img/sprite.png);
  background-position: -137px -168px;
  width: 34px;
  height: 34px;
}
.icon-key {
  background-image: url(../img/sprite.png);
  background-position: 0px -242px;
  width: 17px;
  height: 17px;
}
.icon-like {
  background-image: url(../img/sprite.png);
  background-position: -186px -121px;
  width: 36px;
  height: 36px;
}
.icon-link-mark-mob {
  background-image: url(../img/sprite.png);
  background-position: -252px -116px;
  width: 20px;
  height: 26px;
}
.icon-link-mark {
  background-image: url(../img/sprite.png);
  background-position: -268px -160px;
  width: 14px;
  height: 18px;
}
.icon-logo-tab {
  background-image: url(../img/sprite.png);
  background-position: -222px -121px;
  width: 30px;
  height: 30px;
}
.icon-map-marker-active {
  background-image: url(../img/sprite.png);
  background-position: -252px -180px;
  width: 16px;
  height: 20px;
}
.icon-map-marker {
  background-image: url(../img/sprite.png);
  background-position: -252px -200px;
  width: 16px;
  height: 20px;
}
.icon-pdf {
  background-image: url(../img/sprite.png);
  background-position: -104px -121px;
  width: 46px;
  height: 47px;
}
.icon-print {
  background-image: url(../img/sprite.png);
  background-position: -104px -206px;
  width: 32px;
  height: 32px;
}
.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -252px -142px;
  width: 18px;
  height: 18px;
}
.icon-shop {
  background-image: url(../img/sprite.png);
  background-position: 0px -121px;
  width: 104px;
  height: 121px;
}
.icon-snowflake {
  background-image: url(../img/sprite.png);
  background-position: -150px -121px;
  width: 36px;
  height: 36px;
}
.icon-sort-check {
  background-image: url(../img/sprite.png);
  background-position: -150px -157px;
  width: 16px;
  height: 11px;
}
.icon-sort-sett {
  background-image: url(../img/sprite.png);
  background-position: -196px -206px;
  width: 28px;
  height: 28px;
}
.icon-tortila {
  background-image: url(../img/sprite.png);
  background-position: -104px -168px;
  width: 33px;
  height: 38px;
}
.icon-up {
  background-image: url(../img/sprite.png);
  background-position: -272px -116px;
  width: 10px;
  height: 7px;
}
.icon-world {
  background-image: url(../img/sprite.png);
  background-position: -171px -168px;
  width: 34px;
  height: 34px;
}
