/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bread {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 128px;
  height: 121px;
}
.icon-company-location-1 {
  background-image: url(../img/sprite.png);
  background-position: -183px -139px;
  width: 16px;
  height: 20px;
}
.icon-company-location-2 {
  background-image: url(../img/sprite.png);
  background-position: -215px -139px;
  width: 16px;
  height: 20px;
}
.icon-company-location-3 {
  background-image: url(../img/sprite.png);
  background-position: -199px -139px;
  width: 16px;
  height: 20px;
}
.icon-donuts {
  background-image: url(../img/sprite.png);
  background-position: -128px 0px;
  width: 124px;
  height: 121px;
}
.icon-key {
  background-image: url(../img/sprite.png);
  background-position: -201px -121px;
  width: 17px;
  height: 17px;
}
.icon-link-mark {
  background-image: url(../img/sprite.png);
  background-position: -231px -139px;
  width: 14px;
  height: 18px;
}
.icon-pdf {
  background-image: url(../img/sprite.png);
  background-position: -104px -121px;
  width: 46px;
  height: 47px;
}
.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -183px -121px;
  width: 18px;
  height: 18px;
}
.icon-shop {
  background-image: url(../img/sprite.png);
  background-position: 0px -121px;
  width: 104px;
  height: 121px;
}
.icon-tortila {
  background-image: url(../img/sprite.png);
  background-position: -150px -121px;
  width: 33px;
  height: 38px;
}
